@import "https://fonts.googleapis.com/icon?family=Material+Icons";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.progress {
    width: 50%;
    margin: 20% auto;
    display: block;
}

.afterload {
    display: none;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important; }