@import "_base";

#fullpage {
    .section {
        padding: 0 !important;
        .fp-tableCell {
            vertical-align: unset !important;
        }
    }
}

@media screen and (min-width: 800px) {
    #fullpage {
        display: none;
    }
}

.fixed-action-btn {
    right: 2rem !important;
    bottom: 2rem !important;
    position: absolute;
}