<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li><a href="/modifypost" class="btn-floating red"><i class="material-icons">edit</i></a></li>
      <li><a href="/postlist" class="btn-floating blue"><i class="material-icons">note</i></a></li>
      <li><a href="/contactlist" class="btn-floating yellow darken-1"><i class="material-icons">email</i></a></li>
      <!-- <li><a href="" class="btn-floating green"><i class="material-icons">group</i></a></li>
      <li><a href="" class="btn-floating blue"><i class="material-icons">settings</i></a></li> -->
    </ul>
</div>