<ul id="slide-out" class="sidenav">
    <li><a href="/">Home</a></li>
    <li>
    <div class="switch" style="margin-left: 1rem">
        <label>
            <input type="checkbox" id="darkmode">
            <span class="lever"></span>
        </label>
        Dark mode
        </div>
    </li>
    <li><a href="/contact">Contact Us</a></li>
    <li><a href="/about">Privacy</a></li>
    <li><a href="/about">About</a></li>
</ul>